name: Bench

on:
  pull_request:

permissions:
  contents: read

jobs:
  bench:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [20, 22, 24]
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    permissions:
      pull-requests: write
    if: ${{ startsWith(github.event.pull_request.title, 'bench:') }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run bench

      - run: echo -e "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}\nSample result on \`ubuntu-latest\` with node 22:\n\`\`\`json\n$(cat bench.json)\n\`\`\`" > comment.txt
        if: ${{ matrix.node == 22 && matrix.os == 'ubuntu-latest' }}

      - run: gh issue comment ${{ github.event.pull_request.number }} --body-file comment.txt
        if: ${{ matrix.node == 22 && matrix.os == 'ubuntu-latest' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
